<!DOCTYPE html>
<html>
  <head>
    <title>Calculation d'amélioration du deck</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Améliore ton deck</h1>
    <form action="calculation/betterhealth" method="get">
      <input type="submit" value="Meilleur combinaison selon santé">
    </form>
    <form action="calculation/betterdamage" method="get">
      <input type="submit" value="Meilleur combinaison selon dommage">
    </form>
    <form action="calculation/bettermana" method="get">
      <input type="submit" value="Meilleur combinaison selon mana">
    </form>
    <form action="calculation/bettercombi" method="get">
      <input type="submit" value="Meilleur combinaison selon meilleur équipe">
    </form>

  </body>
</html>
