<!DOCTYPE html>
<html>
<head>
    <title>Modification de liste personnage></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Combinaison intéressant</h1>
<form action="/ajoutcombi" method="get">
    <input type="submit" value="Ajouter un bon deck">

</form>
<form
        action="/probabonperso"
        method="GET">
    <input type="submit" value="Probabilité d'un personnage soit un bon coup">
</form>




</body>
</html>