<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

    <form
            action="/characters"
            method="GET">
      <input type="submit" value="Liste de personnage">
    </form>

  <form action="/calculation" method="get">
    <input type="submit" value="Trouve la bonne combinaison">
  </form>
  </body>
</html>
