<!DOCTYPE html>
<html>
<head>
    <title>Modification de liste personnage></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

<form
        action="/ajouterlistPerso"
        method="GET">
    <input type="submit" value="Ajouter à la liste">
</form>

<form
action="/modifierlistPerso"
method="GET">
    <input type="submit" value="Modifier un élément de la liste">
</form>
<form
        action="/supprimerlistPerso"
        method="GET">
    <input type="submit" value="Supprimer un élément de la liste">
</form>


</body>
</html>