<!DOCTYPE html>
<html>
  <head>
    <title>Générer les fichiers</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Générer les fichiers</h1>

    <form action="/generateFiles/2" method="POST">
      <input type="submit" value="Générer les dossiers">
    </form>

  <form action="/" method="get">
    <input type="submit" value="Retour">
  </form>

  </body>
</html>
